name: Build plugin

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew buildPlugin

      - name: Save artifacts
        uses: actions/upload-artifact@v6
        with:
          name: android-rust
          path: build/distributions/*.zip
